#about {
    width: 100%;
    padding: 40px 124px;
    /* margin: 30px auto; */
    background-color:#131f33;
    background-size: 200% 200%;
    box-sizing: border-box;
    scroll-margin-top: 70px;
  }
  .h11 {
    color:white;
    padding-top: 2%;
    font-family: 'Roboto', sans-serif;
    /* border: 3px solid black; */
  }
  #about h1 {
    text-align: center;
    padding-bottom:20px;
    
  }
  
  #about p {
    margin: 5px 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
  }
  #about ul {
    color:white;
    margin: 20px 40px 0;
    font-size: 32px;
  }
  
  #img {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    height: 200px;
    margin: 25px auto;
    border-radius: 10px;
    width: 300px;
  }
  #img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
  }
  
  @media only screen and (max-width: 600px) {
    #about {
      padding: 20px 0;
    }
  
    #img {
      margin: 12px auto;
      width: 336px;
      height: 245px;
    }
  }