.connect{
    background-image: linear-gradient(45deg, #0784a7, #c3f7ff);
    background-size: 200% 200%;
    box-sizing: border-box;
    padding: 15px;
}
.container{
    width: 73%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}
.connect h1{
    color: white;
    margin: 20px;
}

.copyright {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px;
    text-align: cent
}