.fontlink{
    font-size:26px;
   color:rgb(252, 252, 124);;

}
.connect{
  background-color: #131f33;
    
    background-size: 200% 200%;
    box-sizing: border-box;
    padding: 15px;
}
.container{
    width: 73%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.links{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}
.connect h1{
    color: white;
    margin: 20px;
}

.copyright {
    background-color:#131f33;
    color:white;
    font-size: 12px;
    padding: 5px;
    text-align: cent
}