.githead{
    font-family:'Roboto', sans-serif;
    text-align: center;
    font-size: 36px;
    color:#131f33;
    margin-top: 50px;
}
.githead-div{
    width: 90%;
    margin: auto;
  
}
.calendar{
   
    margin: auto;
 
    margin-top: 60px;
}
.stats{
    width:50%;
    margin: auto;
  
    margin-top: 20px;
}
.stats1{
    /* height: 190px; */
    width: 60%;
    margin: auto;
    /* margin-left: 437px; */
   
    margin-top: 40px;
   
}
.img1{
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img2{
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img3{
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.stats2{
    width: 60%;
    margin: auto;
    margin-top: 40px;
    
    
}
.stats3{
   
    width: 60%;
    margin: auto;
    margin-top: 40px;
 
}
@media only screen and (min-width:340px) and (max-width:480px){
    .stats1{
        /* height: 190px; */
        width: 100%;
    }
    .stats2{
        width: 100%;
    }
    .stats3{
       
        width: 100%;
    }
    }
  @media only screen and (min-width:481px) and (max-width:890px){
    .stats1{
        /* height: 190px; */
        width: 100%;
    }
    .stats2{
        width: 100%;
    }
    .stats3{
       
        width: 100%;
    }
  }
  @media only screen and (min-width:890px) and (max-width:1580px){
    .calendar{
        width:100%;
        margin: auto;
       
        margin-top: 60px;
        
    }
  }