/*ANIMAITON  */
.fadeLeft {
    -webkit-animation: fadeInLeft 2s ease-in-out both;
    animation: fadeInLeft 2s ease-in-out both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeRight {
    -webkit-animation: fadeInRight 1s ease-in-out both;
    animation: fadeInRight 1s ease-in-out both;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .zoomIn {
    -webkit-animation: zoom-in 2s ease-in-out both;
    animation: zoom-in 2s ease-in-out both;
  }
  
  @keyframes zoom-in {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }